<footer class="footer">
  <!-- Three columns created using columns class of Bulma -->
  <div class="columns">
    <!-- Column 1 -->
    <div class="column">
      <!-- Heading is left aligned, medium weight -->
      <h4 class="title is-4 has-text-weight-medium has-text-left">
        Matchstick v17
      </h4>

      <!-- footer content -->
      <p class="bd-footer-link has-text-left">
        Matchstick is an Angular PWA that uses firebase as a backend. It
        includes a full login suite and dashboard with the ability to create and
        update a user profile. its the perfect start for your SAAS app or proof
        of concept / MVP.
      </p>
      <nav class="level">
        <div class="level-left">
          <div class="level-item">
            <span class="icon">
              <fa-icon [icon]="faFacebookSquare"></fa-icon>
            </span>
            &emsp;
            <span class="icon">
              <fa-icon [icon]="faInstagramSquare"></fa-icon>
            </span>
            &emsp;
            <span class="icon">
              <fa-icon [icon]="faTwitterSquare"></fa-icon>
            </span>
            &emsp;
            <span class="icon">
              <fa-icon [icon]="faGithubSquare"></fa-icon>
            </span>
            &emsp;
          </div>
        </div>
      </nav>
    </div>

    <!-- Column 2 -->
    <div class="column">
      <h4 class="title is-4 has-text-weight-medium has-text-justify">
        Explore
      </h4>

      <!-- Column 2 lists with links -->
      <p class="bd-footer-link">
        <a href="https://">
          <span class="icon-text">
            <span>Sections</span>
          </span>
        </a>
        <br />
        <a href="https://">
          <span class="icon-text">
            <span>Packages</span>
          </span>
        </a>
        <br />
        <a href="https://">
          <span class="icon-text">
            <span>Intructions</span>
          </span>
        </a>
      </p>
    </div>

    <!-- Column 3 -->
    <div class="column">
      <h4 class="title is-4 has-text-weight-medium has-text-justify">
        Other Products
      </h4>

      <!-- Column 3 lists with links -->
      <p class="bd-footer-link">
        <a href="https://">
          <span class="icon-text">
            <span>Invoicer</span>
          </span>
        </a>
        <br />
        <a href="https://">
          <span class="icon-text">
            <span>Epoch Time Tracking</span>
          </span>
        </a>
        <br />
        <a href="https://">
          <span class="icon-text">
            <span>Fiverr Profile</span>
          </span>
        </a>
      </p>
    </div>
  </div>
  <!-- Copyright symbol of company -->
  <div class="content has-text-centered">
    <p>Copyright © 2024 - Matchstick by Hydrant Apps</p>
  </div>
</footer>

<!-- <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>.
        The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The
        website content is licensed
        <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/"
          >CC BY NC SA 4.0</a
        >.
      </p>
    </div>
  </footer> -->
